@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
#__next {
  width: 100%;
}

body {
  display: flex;
  color: rgb(var(--foreground-rgb));
  background: #F8F8F7;
  justify-content: center;
}
main {
  @media screen and (max-width: 1376px) {
    flex-direction: column;
  }
}
.main_img {
  position: absolute;
  top: 0;
  @media screen and (max-width: 1376px) {
      top: 600px;
      right: 0;
      height: 550px;
  }
}

.menu_link {
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
  color: #FF868E;
  margin-top: 10px;
  border-radius: 10px;
  width: 138px;
  height: 36px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:hover {
    background-color: #FBE0DC !important;
  }
  &:focus {
    background-color: #FF868E !important;
    color: #fff !important;
  }
}


/* AutoComplete */
.ant-select-selector {
  width: 470px;
  border-radius: 20px !important;
  border: 2px solid #ffffff !important;
  &:hover {
    border: 2px solid #FBE0DC !important;
  }
  &:active {
    border: 2px solid #FF868E !important;
  }
}
[class*="ant-input css-dev-only-do-not-override-17a39f8"] {
  border: none !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  width: 100%;
  padding-left: 20px;
  font-size: 20px;
  height: 60px;
  flex-shrink: 0;
  background: #FFF;
  box-shadow: none;
  font-family: Jost;
  &:hover {
    border-right: none !important;
    box-shadow: none;
  }
  &:focus {
    border-right: none !important;
    box-shadow: none;
  }
}
[class*="ant-input css-dev-only-do-not-override-17a39f8"]::placeholder {
  display: flex;
  justify-content: center;
  color: #8C8C8C;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.ant-input-group-addon {
  background-color: #FFF !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

[class*="ant-btn css-dev-only-do-not-override-17a39f8 ant-btn-default ant-btn-icon-only ant-input-search-button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px !important;
  background: #FBE0DC !important;
  width: 40px !important;
  height: 40px !important;
  flex-shrink: 0;
  border: none !important;
  box-shadow: none;
  color: #FF868E !important;
  font-size: 20px;
}
.ant-btn-icon > span > svg {
  width: 20px;
  height: 20px;
}

/* Buttons of emotes styles */
.emoteButton {
  width: 60px;
  height: 60px;
  background-color: #FFF;
  margin-left: 10px;
  padding: 15px;
  border-radius: 20px;
  &:hover {
    background: #FBE0DC !important;
  }
  &:active {
    background: #FF868E !important;
  }
}
.emoteButton:active svg > path,

.emoteButton:active {
    fill: #FFF;
    color: #FFF;
  }

/* Back button styles */
.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #FBE0DC;
  border-radius: 10px;
  &:hover {
    background: #FF868E;
  }
}
.backButton:hover svg > g > path,

.backButton:hover {
    fill: #FFF;
    color: #FFF;
  }

  /* Votings block */
.votings_svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border: 3px solid #fff;
  &:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    &:hover {
      background: #97eab96e !important;
    }  
  }
  &:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    &:hover {
      background: #ffd2806e !important;
    }  
  }
  &:hover {
    background: #ff868e6e !important;
  } 
}
.votings_svg svg > path,

.votings_svg {
  fill: #fff;
  color: #fff;
}
.votings_svg:hover:first-child svg > path,
.votings_svg:hover:first-child {
    fill: #97EAB9;
    color: #97EAB9;
}
.votings_svg:hover svg > path,
.votings_svg:hover {
  fill: #FF868E;
  color: #FF868E;
}
.votings_svg:hover:last-child svg > path,
.votings_svg:hover:last-child {
    fill: #ffd280;
    color: #ffd280;
}

/* Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  justify-items: center;
  gap: 1rem;
  min-height: 600px;
  list-style: none;
}

li:nth-child(1) {
  grid-row: span 1;
}

li:nth-child(3) {
  grid-row: span 1;
}
.ant-image-mask {
  border-radius: 20px;
}