@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  display: flex;
  color: rgb(var(--foreground-rgb));
  background: #F8F8F7;
}
main {
  @media screen and (max-width: 820px) {
    flex-direction: column;
  }
}
.main_img {
  position: absolute;
  top: 0;
  @media screen and (max-width: 820px) {
      top: 600px;
      right: 0;
      height: 550px;
  }
}

.menu_link {
  display: flex;
  padding: 10px 0 10px 0;
  justify-content: center;
  color: #FF868E;
  background: #fff;
  margin-top: 10px;
  border-radius: 10px;
  width: 138px;
  height: 36px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  &:hover {
    background-color: #FBE0DC;
  }
  &:active {
    background-color: #FF868E;
    color: #fff;
  }
}
